In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning) 

import pandas as pd

In [36]:
df = pd.read_csv(filepath_or_buffer='./metaverse_transactions_dataset.csv')
df.head(5)

,timestamp,hour_of_day,sending_address,receiving_address,amount,transaction_type,location_region,ip_prefix,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly
0,4/11/2022 12:47,12,0x9d32d0bf2c00f41ce7ca01b66e174cc4dcb0c1da,0x39f82e1c09bc6d7baccc1e79e5621ff812f50572,796.949206,transfer,Europe,192.000,3,48,focused,established,18.75,low_risk
1,6/14/2022 19:12,19,0xd6e251c23cbf52dbd472f079147873e655d8096f,0x51e8fbe24f124e0e30a614e14401b9bbfed5384c,0.010000,purchase,South America,172.000,5,61,focused,established,25.00,low_risk
2,1/18/2022 16:26,16,0x2e0925b922fed01f6a85d213ae2718f54b8ca305,0x52c7911879f783d590af45bda0c0ef2b8536706f,778.197390,purchase,Asia,192.168,3,74,focused,established,31.25,low_risk
3,6/15/2022 9:20,9,0x93efefc25fcaf31d7695f28018d7a11ece55457f,0x8ac3b7bd531b3a833032f07d4e47c7af6ea7bace,300.838358,transfer,South America,172.000,8,111,high_value,veteran,36.75,low_risk
4,2/18/2022 14:35,14,0xad3b8de45d63f5cce28aef9a82cf30c397c6ceb9,0x6fdc047c2391615b3facd79b4588c7e9106e49f2,775.569344,sale,Africa,172.160,6,100,high_value,veteran,62.50,moderate_risk

In [37]:
mv = pd.DataFrame()
mv = df.drop(['sending_address','receiving_address','ip_prefix'], axis = 1)
mv.head()

,timestamp,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly
0,4/11/2022 12:47,12,796.949206,transfer,Europe,3,48,focused,established,18.75,low_risk
1,6/14/2022 19:12,19,0.010000,purchase,South America,5,61,focused,established,25.00,low_risk
2,1/18/2022 16:26,16,778.197390,purchase,Asia,3,74,focused,established,31.25,low_risk
3,6/15/2022 9:20,9,300.838358,transfer,South America,8,111,high_value,veteran,36.75,low_risk
4,2/18/2022 14:35,14,775.569344,sale,Africa,6,100,high_value,veteran,62.50,moderate_risk

In [38]:
print(mv.columns)

Index(['timestamp', 'hour_of_day', 'amount', 'transaction_type',
       'location_region', 'login_frequency', 'session_duration',
       'purchase_pattern', 'age_group', 'risk_score', 'anomaly'],
      dtype='object')

In [42]:
mv['timestamp'] = pd.to_datetime(mv['timestamp'])
mv.head()

,timestamp,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly
0,2022-04-11,12,796.949206,transfer,Europe,3,48,focused,established,18.75,low_risk
1,2022-06-14,19,0.010000,purchase,South America,5,61,focused,established,25.00,low_risk
2,2022-01-18,16,778.197390,purchase,Asia,3,74,focused,established,31.25,low_risk
3,2022-06-15,9,300.838358,transfer,South America,8,111,high_value,veteran,36.75,low_risk
4,2022-02-18,14,775.569344,sale,Africa,6,100,high_value,veteran,62.50,moderate_risk

In [43]:
mv.isnull().sum()

timestamp           0
hour_of_day         0
amount              0
transaction_type    0
location_region     0
login_frequency     0
session_duration    0
purchase_pattern    0
age_group           0
risk_score          0
anomaly             0
dtype: int64

In [ ]:
mv.to_csv('./', index=False)