In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning) 

import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [36]:
df = pd.read_csv(filepath_or_buffer='./metaverse_transactions_dataset.csv')
df.head(5)

,timestamp,hour_of_day,sending_address,receiving_address,amount,transaction_type,location_region,ip_prefix,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly
0,4/11/2022 12:47,12,0x9d32d0bf2c00f41ce7ca01b66e174cc4dcb0c1da,0x39f82e1c09bc6d7baccc1e79e5621ff812f50572,796.949206,transfer,Europe,192.000,3,48,focused,established,18.75,low_risk
1,6/14/2022 19:12,19,0xd6e251c23cbf52dbd472f079147873e655d8096f,0x51e8fbe24f124e0e30a614e14401b9bbfed5384c,0.010000,purchase,South America,172.000,5,61,focused,established,25.00,low_risk
2,1/18/2022 16:26,16,0x2e0925b922fed01f6a85d213ae2718f54b8ca305,0x52c7911879f783d590af45bda0c0ef2b8536706f,778.197390,purchase,Asia,192.168,3,74,focused,established,31.25,low_risk
3,6/15/2022 9:20,9,0x93efefc25fcaf31d7695f28018d7a11ece55457f,0x8ac3b7bd531b3a833032f07d4e47c7af6ea7bace,300.838358,transfer,South America,172.000,8,111,high_value,veteran,36.75,low_risk
4,2/18/2022 14:35,14,0xad3b8de45d63f5cce28aef9a82cf30c397c6ceb9,0x6fdc047c2391615b3facd79b4588c7e9106e49f2,775.569344,sale,Africa,172.160,6,100,high_value,veteran,62.50,moderate_risk

In [37]:
mv = pd.DataFrame()
mv = df.drop(['sending_address','receiving_address','ip_prefix'], axis = 1)
mv.head()

,timestamp,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly
0,4/11/2022 12:47,12,796.949206,transfer,Europe,3,48,focused,established,18.75,low_risk
1,6/14/2022 19:12,19,0.010000,purchase,South America,5,61,focused,established,25.00,low_risk
2,1/18/2022 16:26,16,778.197390,purchase,Asia,3,74,focused,established,31.25,low_risk
3,6/15/2022 9:20,9,300.838358,transfer,South America,8,111,high_value,veteran,36.75,low_risk
4,2/18/2022 14:35,14,775.569344,sale,Africa,6,100,high_value,veteran,62.50,moderate_risk

In [38]:
print(mv.columns)

Index(['timestamp', 'hour_of_day', 'amount', 'transaction_type',
       'location_region', 'login_frequency', 'session_duration',
       'purchase_pattern', 'age_group', 'risk_score', 'anomaly'],
      dtype='object')

In [42]:
mv['timestamp'] = pd.to_datetime(mv['timestamp'])
mv.head()

,timestamp,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly
0,2022-04-11,12,796.949206,transfer,Europe,3,48,focused,established,18.75,low_risk
1,2022-06-14,19,0.010000,purchase,South America,5,61,focused,established,25.00,low_risk
2,2022-01-18,16,778.197390,purchase,Asia,3,74,focused,established,31.25,low_risk
3,2022-06-15,9,300.838358,transfer,South America,8,111,high_value,veteran,36.75,low_risk
4,2022-02-18,14,775.569344,sale,Africa,6,100,high_value,veteran,62.50,moderate_risk

In [51]:
mv.rename(columns={'timestamp': 'Date'}, inplace=True)
mv

,Date,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly
0,2022-04-11,12,796.949206,transfer,Europe,3,48,focused,established,18.7500,low_risk
1,2022-06-14,19,0.010000,purchase,South America,5,61,focused,established,25.0000,low_risk
2,2022-01-18,16,778.197390,purchase,Asia,3,74,focused,established,31.2500,low_risk
3,2022-06-15,9,300.838358,transfer,South America,8,111,high_value,veteran,36.7500,low_risk
4,2022-02-18,14,775.569344,sale,Africa,6,100,high_value,veteran,62.5000,moderate_risk
...,...,...,...,...,...,...,...,...,...,...,...
78595,2022-02-13,12,660.280373,transfer,Africa,1,27,random,new,26.2500,low_risk
78596,2022-02-16,16,310.273397,purchase,Africa,5,60,focused,established,26.2500,low_risk
78597,2022-08-04,16,624.674332,purchase,Africa,1,34,random,new,36.7500,low_risk
78598,2022-02-26,4,401.391592,purchase,Asia,4,56,focused,established,35.4375,low_risk
78599,2022-06-25,14,523.947956,transfer,North America,4,56,focused,established,15.7500,low_risk

In [43]:
mv.isnull().sum()

timestamp           0
hour_of_day         0
amount              0
transaction_type    0
location_region     0
login_frequency     0
session_duration    0
purchase_pattern    0
age_group           0
risk_score          0
anomaly             0
dtype: int64

In [52]:
mv.to_csv('../Parsed Datasets/Metaverse.csv', index=False)

In [80]:
#Reading data
meta = pd.read_csv(filepath_or_buffer='../Parsed Datasets/meta.csv')
nvdia = pd.read_csv(filepath_or_buffer='../Parsed Datasets/cleaned_NVDA_data.csv')
google = pd.read_csv(filepath_or_buffer='../Parsed Datasets/GoogleParsed.csv')
msft = pd.read_csv(filepath_or_buffer='../Parsed Datasets/MSFT_parsed.csv')
rblx = pd.read_csv(filepath_or_buffer='../Parsed Datasets/rblx.csv')

In [81]:
#change datatyep
meta['Date'] = pd.to_datetime(meta['Date'])
nvdia['Date'] = pd.to_datetime(nvdia['Date'])
google['Date'] = pd.to_datetime(google['Date'])
msft['Date'] = pd.to_datetime(msft['Date'])
rblx['Date'] = pd.to_datetime(rblx['Date'])

In [62]:
meta['Date'].dtype

dtype('<M8[ns]')

In [64]:
join_meta_metaverse = pd.merge(mv,meta, how ='inner', on='Date')

In [65]:
join_meta_metaverse.isnull().sum()

Date                0
hour_of_day         0
amount              0
transaction_type    0
location_region     0
login_frequency     0
session_duration    0
purchase_pattern    0
age_group           0
risk_score          0
anomaly             0
Close               0
dtype: int64

In [73]:
join_meta_metaverse_nvdia = pd.merge(join_meta_metaverse,nvdia, how ='inner', on='Date', suffixes=['_meta','_nvdia'])
join_meta_metaverse_nvdia

,Date,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly,Close_meta,Close_nvdia
0,2022-08-22,6,490.912072,transfer,Africa,7,151,high_value,veteran,49.6125,low_risk,162.715622,17.034
1,2022-08-22,17,411.698826,purchase,Asia,4,77,focused,established,26.2500,low_risk,162.715622,17.034
2,2022-08-22,4,873.381208,sale,Africa,8,119,high_value,veteran,84.3750,moderate_risk,162.715622,17.034
3,2022-08-22,4,600.978470,sale,Europe,7,128,high_value,veteran,70.8750,moderate_risk,162.715622,17.034
4,2022-08-22,10,672.398657,phishing,Europe,2,22,random,new,100.0000,high_risk,162.715622,17.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,2022-03-22,2,626.202068,sale,Africa,8,153,high_value,veteran,70.8750,moderate_risk,216.205704,26.524
3972,2022-03-22,12,655.734753,purchase,Europe,5,41,focused,established,26.2500,low_risk,216.205704,26.524
3973,2022-03-22,3,965.027655,sale,Europe,7,105,high_value,veteran,84.3750,moderate_risk,216.205704,26.524
3974,2022-03-22,20,494.732777,purchase,Asia,3,51,focused,established,26.2500,low_risk,216.205704,26.524
3975,2022-03-22,8,0.010000,scam,Africa,1,34,random,new,90.0000,high_risk,216.205704,26.524

In [79]:
join_meta_metaverse_nvdia_google = pd.merge(join_meta_metaverse_nvdia,google, how ='inner', on='Date')
join_meta_metaverse_nvdia_google

,Date,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly,Close_meta,Close_nvdia,Close
0,2022-03-21,16,346.003184,transfer,Africa,3,55,focused,established,15.7500,low_risk,211.056305,13.18625,2722.030029
1,2022-03-21,23,831.680092,purchase,Africa,5,79,focused,established,31.2500,low_risk,211.056305,13.18625,2722.030029
2,2022-03-21,18,687.448398,transfer,Asia,1,39,random,new,26.2500,low_risk,211.056305,13.18625,2722.030029
3,2022-03-21,2,731.191523,purchase,Asia,2,38,random,new,59.0625,low_risk,211.056305,13.18625,2722.030029
4,2022-03-21,10,12.830712,transfer,Asia,8,83,high_value,veteran,35.0000,low_risk,211.056305,13.18625,2722.030029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,2022-03-22,2,626.202068,sale,Africa,8,153,high_value,veteran,70.8750,moderate_risk,216.205704,26.52400,2797.360107
880,2022-03-22,12,655.734753,purchase,Europe,5,41,focused,established,26.2500,low_risk,216.205704,26.52400,2797.360107
881,2022-03-22,3,965.027655,sale,Europe,7,105,high_value,veteran,84.3750,moderate_risk,216.205704,26.52400,2797.360107
882,2022-03-22,20,494.732777,purchase,Asia,3,51,focused,established,26.2500,low_risk,216.205704,26.52400,2797.360107
883,2022-03-22,8,0.010000,scam,Africa,1,34,random,new,90.0000,high_risk,216.205704,26.52400,2797.360107

In [85]:
join_meta_metaverse_nvdia_google_msft = pd.merge(join_meta_metaverse_nvdia_google,msft, how ='inner', on='Date', suffixes=['_google','_msft'])
join_meta_metaverse_nvdia_google_msft

,Date,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly,Close_meta,Close_nvdia,Close_google,Close_msft
0,2022-03-21,16,346.003184,transfer,Africa,3,55,focused,established,15.7500,low_risk,211.056305,13.18625,2722.030029,299.160004
1,2022-03-21,23,831.680092,purchase,Africa,5,79,focused,established,31.2500,low_risk,211.056305,13.18625,2722.030029,299.160004
2,2022-03-21,18,687.448398,transfer,Asia,1,39,random,new,26.2500,low_risk,211.056305,13.18625,2722.030029,299.160004
3,2022-03-21,2,731.191523,purchase,Asia,2,38,random,new,59.0625,low_risk,211.056305,13.18625,2722.030029,299.160004
4,2022-03-21,10,12.830712,transfer,Asia,8,83,high_value,veteran,35.0000,low_risk,211.056305,13.18625,2722.030029,299.160004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,2022-03-22,2,626.202068,sale,Africa,8,153,high_value,veteran,70.8750,moderate_risk,216.205704,26.52400,2797.360107,304.059998
880,2022-03-22,12,655.734753,purchase,Europe,5,41,focused,established,26.2500,low_risk,216.205704,26.52400,2797.360107,304.059998
881,2022-03-22,3,965.027655,sale,Europe,7,105,high_value,veteran,84.3750,moderate_risk,216.205704,26.52400,2797.360107,304.059998
882,2022-03-22,20,494.732777,purchase,Asia,3,51,focused,established,26.2500,low_risk,216.205704,26.52400,2797.360107,304.059998
883,2022-03-22,8,0.010000,scam,Africa,1,34,random,new,90.0000,high_risk,216.205704,26.52400,2797.360107,304.059998

In [93]:
join_all_stocks = pd.merge(join_meta_metaverse_nvdia_google_msft,rblx, how ='inner', on='Date',suffixes=['_rblx'])

In [95]:
last_column = join_all_stocks.columns[-1]

join_all_stocks.rename(columns={last_column: last_column + '_rblx'}, inplace=True)
join_all_stocks

,Date,hour_of_day,amount,transaction_type,location_region,login_frequency,session_duration,purchase_pattern,age_group,risk_score,anomaly,Close_meta,Close_nvdia,Close_google,Close_msft,Close_rblx
0,2022-03-21,16,346.003184,transfer,Africa,3,55,focused,established,15.7500,low_risk,211.056305,13.18625,2722.030029,299.160004,46.619999
1,2022-03-21,23,831.680092,purchase,Africa,5,79,focused,established,31.2500,low_risk,211.056305,13.18625,2722.030029,299.160004,46.619999
2,2022-03-21,18,687.448398,transfer,Asia,1,39,random,new,26.2500,low_risk,211.056305,13.18625,2722.030029,299.160004,46.619999
3,2022-03-21,2,731.191523,purchase,Asia,2,38,random,new,59.0625,low_risk,211.056305,13.18625,2722.030029,299.160004,46.619999
4,2022-03-21,10,12.830712,transfer,Asia,8,83,high_value,veteran,35.0000,low_risk,211.056305,13.18625,2722.030029,299.160004,46.619999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,2022-03-22,2,626.202068,sale,Africa,8,153,high_value,veteran,70.8750,moderate_risk,216.205704,26.52400,2797.360107,304.059998,50.509998
880,2022-03-22,12,655.734753,purchase,Europe,5,41,focused,established,26.2500,low_risk,216.205704,26.52400,2797.360107,304.059998,50.509998
881,2022-03-22,3,965.027655,sale,Europe,7,105,high_value,veteran,84.3750,moderate_risk,216.205704,26.52400,2797.360107,304.059998,50.509998
882,2022-03-22,20,494.732777,purchase,Asia,3,51,focused,established,26.2500,low_risk,216.205704,26.52400,2797.360107,304.059998,50.509998
883,2022-03-22,8,0.010000,scam,Africa,1,34,random,new,90.0000,high_risk,216.205704,26.52400,2797.360107,304.059998,50.509998